
. /root/backup_tools/lib/sync_folder.func
. /root/backup_tools/lib/amazon.func
. /root/backup_tools/lib/rsync.func
. /root/backup_tools/lib/mysql.func


BACKUP_DIR="/backup"
BACKUP_LOG="/root/backup.log"
EXCLUDE_LIST="/root/backup.exclude.list"
MYSQL_DUMP_DIR="$BACKUP_DIR/mysql"


MYSQL_HOST=""
MYSQL_USER=""
MYSQL_PASSWORD=""

AMAZON_S3_BUCKET_NAME=""
AMAZON_S3_ACCESS_KEY_ID=""
AMAZON_S3_SECRET_ACCESS_KEY=""
